## Unit 4B: How to Work with Tables

The overall goal of this course is to introduce Python by teaching you how to scrape a webpage into a table, and then work with said table. As of Unit 4A, we have completed the first part. Now, we are transitioning into writing tables and how to work with them. As we usually do, before diving into tables, let's discuss what a table really is.

A <b>table</b> is a data structure used to organize information. If you have worked in Excel, this might seem intuitive. Tables are <b>structured</b>, meaning values in a column or row are usually related in some way. For example, all of the values under a column called "GPS Coordinates" are, well, GPS coordinates. We won't get into all of the different ways to store data. Right now, all that is important for you to keep in mind is that a table is more of a concept that helps us organize and visualize information. 

Tables can be created from many different types of data structures in Python. We could make a table entirely of strings or lists if we wanted to. This is perfectly fine, but it might not be the easiest to code or to understand. Since Python doesn't offer a built-in method for creating and visualizing tables, we will use the <b>Pandas</b> module.

### Reading Tables into Pandas Data Frames

<i>This unit assumes you have already watched the video on how to install modules and that Pandas is already installed on your computer.</i>

As mentioned in the introduction, Pandas is a module that is useful for storing and visualizing tables with Python. You might have some experience working with tables in Excel or some other software. You can think of this lesson the same way. While working with tables in other more visual softwares might be easier, this usually requires a lot of manual user input. The value of working with tables in Python is that we can automate many tasks and perform them very quickly.

First we need to import pandas. For simplicity, we will import pandas under the alias "pd" because this will make using the functions in pandas simpler.

In [1]:
import pandas as pd

In many cases you might have some sort of table stored on a file already, and you want to read this table into a pandas <b>data frame</b>, which you can think of a pandas implementation of a table structure. Pandas offers the <b>read_csv()</b> function to accomplish this. Although "csv" stands for "comma separated values," pandas can read other table formats as well by specifying what your delimiter is.

In the Lesson_4 directory, there is a table called "recent_projects_info_table" that is saved in both csv and tsv formats. Let's look at how to read both of these tables into a pandas data frame.

#### Reading Tables in CSV Format:

In [2]:
data_csv_format = pd.read_csv('recent_projects_info_table.csv')

You can print this data frame using the print function:

In [3]:
print(data_csv_format)

             Project                         Client  \
0    GreenLight Fund  The GreenLight Fund - Atlanta
1  The Carter Center              The Carter Center
2         The Bakery             The Bakery Atlanta
3         Baby Kicks     HumAnS Lab at Georgia Tech
4    Concrete Jungle                Concrete Jungle

                                     Website            Main Location  \
0  https://greenlightfund.org/sites/atlanta/  33.7672720, -84.4001850
1              https://www.cartercenter.org/  33.7675631, -84.3568733
2              https://thebakeryatlanta.com/  33.7520411, -84.3917386
3          https://humanslab.ece.gatech.edu/  33.7770004, -84.3971980
4           https://www.concrete-jungle.org/  33.7055137, -84.4241944

   Task Count  Tool Count
0           2           4
1           2           2
2           2           2
3           2           1
4           1           5

Printing the table is not always the most visually intuitive way to view the data. In Jupyter Notebook, you can simply type the name of the data frame and run the cell to view the data in a more intuitive way:

In [4]:
data_csv_format

,Project,Client,Website,Main Location,Task Count,Tool Count
0,GreenLight Fund,The GreenLight Fund - Atlanta,https://greenlightfund.org/sites/atlanta/,"33.7672720, -84.4001850",2,4
1,The Carter Center,The Carter Center,https://www.cartercenter.org/,"33.7675631, -84.3568733",2,2
2,The Bakery,The Bakery Atlanta,https://thebakeryatlanta.com/,"33.7520411, -84.3917386",2,2
3,Baby Kicks,HumAnS Lab at Georgia Tech,https://humanslab.ece.gatech.edu/,"33.7770004, -84.3971980",2,1
4,Concrete Jungle,Concrete Jungle,https://www.concrete-jungle.org/,"33.7055137, -84.4241944",1,5

In the example above, we use the read_csv() function to directly read the csv table into a pandas data frame. Notice that the first row is automatically detected as header columns. Also notice that the first column is just a series of numbers that range from 0-4. This is the <b>index</b> column, and it served as our way to identify which entry in the table belongs to which row. For example, Concrete Jungle's email would be the <b>4</b>th index in the websites column.

While using the numerical index is perfectly fine, there might be instances where we want to search a large data frame by the name of some primary key. In other words, we might want to name the rows, as oppsoed to just number them. We can set any column to be our index column using the <b>set_index()</b> function like:

In [5]:
data_csv_format.set_index('Project')

,Client,Website,Main Location,Task Count,Tool Count
Project,,,,,
GreenLight Fund,The GreenLight Fund - Atlanta,https://greenlightfund.org/sites/atlanta/,"33.7672720, -84.4001850",2,4
The Carter Center,The Carter Center,https://www.cartercenter.org/,"33.7675631, -84.3568733",2,2
The Bakery,The Bakery Atlanta,https://thebakeryatlanta.com/,"33.7520411, -84.3917386",2,2
Baby Kicks,HumAnS Lab at Georgia Tech,https://humanslab.ece.gatech.edu/,"33.7770004, -84.3971980",2,1
Concrete Jungle,Concrete Jungle,https://www.concrete-jungle.org/,"33.7055137, -84.4241944",1,5

In the example above, we set the index column to be the "Project" column. Notice that the numbers at the left side of the table went away. Now, instead of our rows being numbered, they are named. The importance of this will become more clear when we discuss selecting data from data frames in the following units. 

We can also tell pandas what our index column is when we initially call the read_csv() function using the <b>index_col</b> argument:

In [6]:
data_csv_format_indexed = pd.read_csv('recent_projects_info_table.csv', index_col = 'Project')

In [7]:
data_csv_format_indexed

,Client,Website,Main Location,Task Count,Tool Count
Project,,,,,
GreenLight Fund,The GreenLight Fund - Atlanta,https://greenlightfund.org/sites/atlanta/,"33.7672720, -84.4001850",2,4
The Carter Center,The Carter Center,https://www.cartercenter.org/,"33.7675631, -84.3568733",2,2
The Bakery,The Bakery Atlanta,https://thebakeryatlanta.com/,"33.7520411, -84.3917386",2,2
Baby Kicks,HumAnS Lab at Georgia Tech,https://humanslab.ece.gatech.edu/,"33.7770004, -84.3971980",2,1
Concrete Jungle,Concrete Jungle,https://www.concrete-jungle.org/,"33.7055137, -84.4241944",1,5

#### Reading Tables in TSV Format:

Pandas defaults to commas delimiters, but what if our table is tab-separated. We can specify what our separator is when we read the data frame with the read_csv() function by using the <b>sep</b> argument.

In [8]:
data_tsv_format = pd.read_csv('recent_projects_info_table.tsv', sep = '\t', index_col = 'Project')

In [9]:
data_tsv_format

,Client,Website,Main Location,Task Count,Tool Count
Project,,,,,
GreenLight Fund,The GreenLight Fund - Atlanta,https://greenlightfund.org/sites/atlanta/,"33.7672720, -84.4001850",2,4
The Carter Center,The Carter Center,https://www.cartercenter.org/,"33.7675631, -84.3568733",2,2
The Bakery,The Bakery Atlanta,https://thebakeryatlanta.com/,"33.7520411, -84.3917386",2,2
Baby Kicks,HumAnS Lab at Georgia Tech,https://humanslab.ece.gatech.edu/,"33.7770004, -84.3971980",2,1
Concrete Jungle,Concrete Jungle,https://www.concrete-jungle.org/,"33.7055137, -84.4241944",1,5

In the example above, we specified separator to be a tab (\t). Let's take a look at what happens if we try to read a tab separated table as a regular csv file, without specifying a delimiter.

In [10]:
data_wrong_format = pd.read_csv('recent_projects_info_table.tsv')

In [11]:
data_wrong_format

                                                   Project\tClient\tWebsite\tMain Location\tTask Count\tTool Count
GreenLight Fund\tThe GreenLight Fund - Atlanta\...                                 -84.4001850"\t2\t4
The Carter Center\tThe Carter Center\thttps://w...                                 -84.3568733"\t2\t2
The Bakery\tThe Bakery Atlanta\thttps://thebake...                                 -84.3917386"\t2\t2
Baby Kicks\tHumAnS Lab at Georgia Tech\thttps:/...                                 -84.3971980"\t2\t1
Concrete Jungle\tConcrete Jungle\thttps://www.c...                                 -84.4241944"\t1\t5

Well this data frame won't be easy to work with. This illustrates why it's important to specify what your separator is.

#### Reading Excel Tables:

In Excel, it's possible to download your table in csv or tsv format. However, what if you don't really feel like it, or there is some other reason that you don't want to work with a different file? Lucky for us, pandas offers the <b>read_excel()</b> function! This function is quite extensive because Excel has many different ways of storing spread sheets. For our purposes, this function behaves the same as the read_csv() function.

<i>In the Lesson_4 directory, the "recent_projects_info_table" is also saved in xls format</i>

In [12]:
data_xls_format = pd.read_excel('recent_projects_info_table.xls', index_col = 'Project')

In [13]:
data_xls_format

,Client,Website,Main Location,Task Count,Tool Count
Project,,,,,
GreenLight Fund,The GreenLight Fund - Atlanta,https://greenlightfund.org/sites/atlanta/,"33.7672720, -84.4001850",2,4
The Carter Center,The Carter Center,https://www.cartercenter.org/,"33.7675631, -84.3568733",2,2
The Bakery,The Bakery Atlanta,https://thebakeryatlanta.com/,"33.7520411, -84.3917386",2,2
Baby Kicks,HumAnS Lab at Georgia Tech,https://humanslab.ece.gatech.edu/,"33.7770004, -84.3971980",2,1
Concrete Jungle,Concrete Jungle,https://www.concrete-jungle.org/,"33.7055137, -84.4241944",1,5

The read_excel function is convientent becasue it allows quick and easy transport of data between different platforms.

### Selecting Data from Pandas Data Frames

Selecting data from a pandas data frame is one of the keys to parsing large data sets. Our examples will be on much smaller data frames, but the concepts will apply to large ones. Let's revisit our initial "data_csv_format" data frame, but let's rename it "project_data."

In [14]:
project_data = pd.read_csv('recent_projects_info_table.csv')

In [15]:
project_data

,Project,Client,Website,Main Location,Task Count,Tool Count
0,GreenLight Fund,The GreenLight Fund - Atlanta,https://greenlightfund.org/sites/atlanta/,"33.7672720, -84.4001850",2,4
1,The Carter Center,The Carter Center,https://www.cartercenter.org/,"33.7675631, -84.3568733",2,2
2,The Bakery,The Bakery Atlanta,https://thebakeryatlanta.com/,"33.7520411, -84.3917386",2,2
3,Baby Kicks,HumAnS Lab at Georgia Tech,https://humanslab.ece.gatech.edu/,"33.7770004, -84.3971980",2,1
4,Concrete Jungle,Concrete Jungle,https://www.concrete-jungle.org/,"33.7055137, -84.4241944",1,5

#### Selecting Data By Index

To select data, we can use the <b>iloc[]</b> function, which allows you to select data in a variety of differnt ways. For example, say we want to select The Bakery's website. We can see that The Bakery's row has the 2 index, and that that the Website column is the 3rd column (2 index). We can select The Barkery's website like:

In [16]:
bakery_website = project_data.iloc[2,2]
print(bakery_website)

https://thebakeryatlanta.com/

The .iloc() function works similar to how selecting items in lists work. However, in lists, you are only selecting one position (index in list), and when selecting from a data frame, you can select multiple (index in column and index in row). The argumens for .iloc() are:

    data.iloc(row_index:column_index)

Just like with lists, we can select a range of values as well. For example, say we want to select the entire Websites column. There are two ways we can accomplish this. First, we can select based on the index of the columns and rows we want:

In [17]:
websites = project_data.iloc[0:,2]
print(websites)

0    https://greenlightfund.org/sites/atlanta/
1                https://www.cartercenter.org/
2                https://thebakeryatlanta.com/
3            https://humanslab.ece.gatech.edu/
4             https://www.concrete-jungle.org/
Name: Website, dtype: object

In the example above, we specified the rows to start and 0 and select all of subsequent rows. The syntax for this is just as we would do it if we were selecting from a list (a 0 followed by a colon (<i>0:</i>). Then we specify that we want to select these from the 3rd column (2nd index) by just using a 2.

#### Selecting Data by Names

The second way is to select the column by the column name. This is a much more straight forward approach:

In [18]:
websites = project_data['Website']
print(websites)

0    https://greenlightfund.org/sites/atlanta/
1                https://www.cartercenter.org/
2                https://thebakeryatlanta.com/
3            https://humanslab.ece.gatech.edu/
4             https://www.concrete-jungle.org/
Name: Website, dtype: object

We can also select multiple column by name as well by providing a list of arguments that has our column names:

In [19]:
client_website_data = project_data[['Client','Website']]
print(client_website_data)

                          Client                                    Website
0  The GreenLight Fund - Atlanta  https://greenlightfund.org/sites/atlanta/
1              The Carter Center              https://www.cartercenter.org/
2             The Bakery Atlanta              https://thebakeryatlanta.com/
3     HumAnS Lab at Georgia Tech          https://humanslab.ece.gatech.edu/
4                Concrete Jungle           https://www.concrete-jungle.org/

In the example above, we simply selected the column titled "Website." We can extend this to still select The Bakery's website by adding it's index to the end as well:

In [20]:
bakery_website = project_data['Website'][2]
print(bakery_website)

https://thebakeryatlanta.com/

As you might be guessing, we can also select data by rowname instead of the index number. However, we must first assign a column to be the index column. To do this, we must use the <b>loc()</b> function, which is similar to the iloc function but allows us to select values based on lables, as opposed to integer position.

In [21]:
project_data = project_data.set_index('Project')
project_data

,Client,Website,Main Location,Task Count,Tool Count
Project,,,,,
GreenLight Fund,The GreenLight Fund - Atlanta,https://greenlightfund.org/sites/atlanta/,"33.7672720, -84.4001850",2,4
The Carter Center,The Carter Center,https://www.cartercenter.org/,"33.7675631, -84.3568733",2,2
The Bakery,The Bakery Atlanta,https://thebakeryatlanta.com/,"33.7520411, -84.3917386",2,2
Baby Kicks,HumAnS Lab at Georgia Tech,https://humanslab.ece.gatech.edu/,"33.7770004, -84.3971980",2,1
Concrete Jungle,Concrete Jungle,https://www.concrete-jungle.org/,"33.7055137, -84.4241944",1,5

In [22]:
bakery_data = project_data.loc["The Bakery"]
bakery_data

Client                      The Bakery Atlanta
Website          https://thebakeryatlanta.com/
Main Location          33.7520411, -84.3917386
Task Count                                   2
Tool Count                                   2
Name: The Bakery, dtype: object

In the example above, we set the "Project" column to be the index column, and then selected "The Bakery" row name, which gave us all of the infomation about The Bakery. Just like with column, we can select multiple rows by name as well:

In [23]:
bakery_babykicks = project_data.loc[["The Bakery", "Baby Kicks"]]
bakery_babykicks

,Client,Website,Main Location,Task Count,Tool Count
Project,,,,,
The Bakery,The Bakery Atlanta,https://thebakeryatlanta.com/,"33.7520411, -84.3917386",2,2
Baby Kicks,HumAnS Lab at Georgia Tech,https://humanslab.ece.gatech.edu/,"33.7770004, -84.3971980",2,1

Finally, we can select specific values in a table using by using the column name and the row name. Using loc, the syntax is:

    data.loc[['row_name'], ['column_name']]
    
For example, we can select just The Bakery's website like:

In [24]:
bakery_website = project_data.loc[['The Bakery'],['Website']]
print(bakery_website)

                                  Website
Project
The Bakery  https://thebakeryatlanta.com/

We can also put multiple values in the row list and/or the column list to select multiple fields. For example, say we want the website for The Bakery and The Carter Center:

In [25]:
bakery_carter_center = project_data.loc[['The Bakery', 'The Carter Center'],['Website']]
bakery_carter_center

                                         Website
Project
The Bakery         https://thebakeryatlanta.com/
The Carter Center  https://www.cartercenter.org/

### Populating Pandas Data Frames

Now that we are a little more familiar with pandas data frames, let's look at how to make them from data that we collect in our code. An easy way is to store data in lists, and then add these lists to a data frame. This is a good approach because lists are easy to add onto as you iterate in a loop.

Say we have just parsed an HTML file and we have a list of the websites contained on said file. We can use the <b>DataFrame()</b> function to create a pandas data frame from this list:

In [26]:
websites = ['https://greenlightfund.org/sites/atlanta/', 'https://www.cartercenter.org/', 'https://thebakeryatlanta.com/', 'https://humanslab.ece.gatech.edu/', 'https://www.concrete-jungle.org/']

In [27]:
client_data = pd.DataFrame(data=websites, columns = ['Websites'])

print(client_data)

                                    Websites
0  https://greenlightfund.org/sites/atlanta/
1              https://www.cartercenter.org/
2              https://thebakeryatlanta.com/
3          https://humanslab.ece.gatech.edu/
4           https://www.concrete-jungle.org/

In the example above, we used the data argument to tell pandas that the websites list was the data we wanted to put into the data frame, and the columns argument (which takes a list as it's input) to tell pandas that we wanted to name the column "Websites".

To add a column to the data frame, we can use the <b>insert()</b> function. For example, say we have a list of the client names that are associated with each website. We can add this as a data fram column like:

In [28]:
clients = ['Concrete Jungle', 'HumAnS Lab', 'The Bakery', 'The Carter Center', 'GreenLight Fund']

In [29]:
client_data.insert(loc = 0, value = clients, column = 'Clients')

In [30]:
client_data

             Clients                                   Websites
0    Concrete Jungle  https://greenlightfund.org/sites/atlanta/
1         HumAnS Lab              https://www.cartercenter.org/
2         The Bakery              https://thebakeryatlanta.com/
3  The Carter Center          https://humanslab.ece.gatech.edu/
4    GreenLight Fund           https://www.concrete-jungle.org/

In the example above, we use the loc argument to say we wanted to insert the new column into the 0th position in the table (at the beginning). We can use the "loc" argument to specify which position we want the new column to be inserted. We then used the "value" argument to say that we want our "clients" list to be the data that is inserted. Finally, we used the "column" argument to say that we want to column to be named "Clients."

There are many ways to populate a pandas data frame. To keep this lesson from being too long, we will only cover the one. This method fits well with the previous data structures we have covered before. For example, say you are parsing an HTML file and you have several fields you want to extract. You can initialize a list for each of said fields and then append values to the list as you iterate. You can then add these lists to a data frame.

### Writing Data Frames to Files

The final pandas functionality that we will cover is how to write pandas data frames to files. This is useful so that you can send data to collaborators or co-workers, and so you can open the data in different softwares, such as Excel. Pandas offers the <b>to_csv</b> function that makes writing data to a csv file easy! This function is simiar to the "read_csv" function, but works the other direction.

Let's look at our client_data data frame, and set the index to be the "client" column, and then write the data to a csv file.

In [31]:
client_data = client_data.set_index('Clients')

In [32]:
client_data

                                                    Websites
Clients
Concrete Jungle    https://greenlightfund.org/sites/atlanta/
HumAnS Lab                     https://www.cartercenter.org/
The Bakery                     https://thebakeryatlanta.com/
The Carter Center          https://humanslab.ece.gatech.edu/
GreenLight Fund             https://www.concrete-jungle.org/

#### Writing to CSV and TSV Files

In [33]:
client_data.to_csv('client_data.csv')

The simplest way to use the "to_csv()" function is to just provide your file name. Notice that nothing printed out. This is because instead of printing out our data frame, we wrote it's contents to a csv file that is now on our machine. 

We can also write different formats, like tsv, by specifying what our separator is (just like with the read_csv() function).

In [34]:
client_data.to_csv('client_data.tsv', sep = '\t')

Be careful when writing to the csv though. The default behavior of the "to_csv()" function is to write over a file, as opposed to add onto it. 

#### Writing to Excel Files

We can also write directly to excel files as well using the <b>to_excel</b> function:

In [35]:
client_data.to_excel('client_data.xlsx')

This method might be particularly useful for sharing data with co-workers and collaborators that primairly use Excel for viewing and processing data.

### Practice Problems

Write a function that will take the "Recent_Projects_Simple.html" HTML file as input and writes a table to a csv or Excel file that contains the same values and information as the "data_csv_format" in cell 4.

In [36]:
# type your code below